.phone-input-container {
  width: 100%;
}

.phone-input-container .form-control {
  width: 100% !important;
  border-radius: 0.5rem !important;
  border: 1px solid #E2E8F0 !important;
  background-color: transparent !important;
  padding: 1rem 1.5rem !important;
  padding-left: 3rem !important;
  outline: none !important;
}

.phone-input-container .form-control:focus {
  border-color: #3056D3 !important;
  box-shadow: none !important;
}

.phone-input-button {
  border: 1px solid #E2E8F0 !important;
  border-right: none !important;
  background-color: transparent !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
}

/* Dark mode styles */
.dark .form-control {
  border-color: #2E3A47 !important;
}

.dark .phone-input-button {
  border-color: #2E3A47 !important;
}